{% block head %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Language"    content="en" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type"  content="text/css" />
		<meta http-equiv="Content-Type"        content="text/html; charset=UTF-8" />
		<!-- <meta http-equiv="refresh" content="6"> -->
		<meta charset="utf-8">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
	  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

	  <script type="text/javascript" src="/static/js/jquery.tablesorter/jquery.tablesorter.js"></script> 
	  <link rel="stylesheet" type="text/css" href="/static/js/jquery.tablesorter/themes/blue/style.css" />
	<div id="head">
		{% load staticfiles %}
		<img src="{% static "img/JGHLogo.gif" %}" alt="JGH Logo" class="logo_JGH">
	</div>
		
{% endblock %}

	{% block JQueryUI %}{% endblock %}
	{% block content %}{% endblock %}