{% extends "reports/base_jquery.html" %}

{% block content %}
	<div class="db_form">
		<form enctype="multipart/form-data" action="{% url 'reports:deceased_list' %}" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input id="submit" type="submit" value="Submit" />
		</form>
	</div>
	<div class="box_db">
		{% if patient_list|length > 0 %}
		<table>
		 <tr>
		  <th>Prenom</th><th>Nom</th><th>Patient Id</th><th>No RAMQ</th><th>Radio-oncologue</th><th>Date</th>
		 </tr>
		{% for patient in patient_list %}
		 <tr>
		  {% for cell in patient %}
			<td>{{cell}}</td>
		  {% endfor %}
		 </tr>
		{% endfor %}
		</table>
		{% endif %}
	   {% if patient_list|length > 0 %}
	   <table class ="but_xls" BORDER=0 CELLPADDING=0 CELLSPACING=0 ALIGN="CENTER">
        	<tr>
                	<td>
                        	<form ACTION="{% url 'reports:excel_deceased_export' %}">
                                        <input TYPE="SUBMIT" VALUE=".xls">
                                </form>
                        </td>
                </tr>
            </table>
        {% endif %}
	</div>
</div>

{% endblock content %}
