{% extends "reports/base.html" %}

{% block JQueryUI %}
	<script type="text/javascript">
		$(function(){

			// Datepicker

			$(function() {
				var dates = $( "#id_startdate, #id_enddate" ).datepicker({
					showButtonPanel: true,
					changeMonth: true,
					changeYear: true,
					dateFormat: 'yy-mm-dd',
					onSelect: function( selectedDate ) {
						var option = this.id == "id_startdate" ? "minDate" : "maxDate",
							instance = $( this ).data( "datepicker" );
							date = $.datepicker.parseDate(
								instance.settings.dateFormat ||
								$.datepicker._defaults.dateFormat,
								selectedDate, instance.settings );
						dates.not( this ).datepicker( "option", option, date );
					}
				});
			});
			
			
			$( "#anim" ).change(function() {
				$( "#id_startdate" ).datepicker( "option", "showAnim", $( this ).val() );
			});
			
			$( "#anim" ).change(function() {
				$( "#id_enddate" ).datepicker( "option", "showAnim", $( this ).val() );
			});
			
			//hover states on the static widgets
			$('#dialog_link, ul#icons li').hover(
				function() { $(this).addClass('ui-state-hover'); }, 
				function() { $(this).removeClass('ui-state-hover'); }
			);
			
		});
	</script>

{% endblock %}

{% block content %}
{{err}}
<div class="report_form">
	<form action= "" method="POST">
	{% csrf_token %}
		<fieldset title="Rapport">
			<legend>Report</legend>
			{{form_rep_list.reportlist_field}}
		</fieldset>				
		
		<fieldset title="Date">
			<legend>Dates</legend>
			<div class='info'>Dates selected are inclusive</div>
			{% for choice in form_rep_list.date_select%}
				<div class="select">{{ choice.tag }}{{choice.choice_label}}</div>
			{%endfor%}
			From:{{form_rep_list.startdate}}
			To:{{form_rep_list.enddate}}
		</fieldset>

		<input type="submit" value="Submit" />
	</form>
 </div>				
			
{% endblock %}
