{% extends "reports/base.html" %}
{% comment %}
======================================================================================
																						
         FILE: spro/dashboard/templates/404.html								
																						
  DESCRIPTION: 
																						
       AUTHOR:  
      COMPANY: 															
      VERSION:  													
      CREATED:  									
     REVISION:  																	
======================================================================================
vim: set sw=4 ts=4 foldmethod=syntax :												 
{% endcomment %}

{% block title %}TRG - login{% endblock %}
<div class="dashboard">
{% block content %}
<div class="db_form"></div>
<div class="box_db">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<br />
<TABLE class ="but_xls" BORDER=0 CELLPADDING=0 CELLSPACING=0 ALIGN="CENTER">
			<TR>
				<TD>
					<FORM ACTION="{% url dashboard.views.index %}">
						<INPUT TYPE="SUBMIT" VALUE="index">
					</FORM>
				</TD>						
			</TR>
		</TABLE>
</div>
{% endblock %}


