{% extends "reports/base_jquery.html" %}
{% block content %}
{% load url from future %}

	<div class="db_form">
		<form action="{% url 'reports:patient_search' %}" method="POST">
			  {% csrf_token %}
			{{patient_form.as_p}}
			<input id="submit" type="submit" value="Submit" />
		</form>
	</div>
	<div class="box_db">
	{% if query %}
	Results:<br />
	<table id="patient_search" class="tablesorter">
		<thead>
        	<tr>
                	<th filter='false'>Patient Id</th><th filter='false'>Start time</th><th filter='false'>End time</th><th filter='false'>Activity</th><th filter='false'>Activity type</th><th filter='false'>Note</th><th filter='false'>Status</th><th filter='false'>In/Out patient</th><th filter='false'>Oncologist</th>
                </tr>
		</thead>
		<tbody>
                {%for pid,start,end,activity,activitytype,note,status,inout,onco in query%}
                <tr>
                	<td>{{pid}}</td><td>{{start}}</td><td>{{end}}</td><td>{{activity}}</td><td>{{activitytype}}</td><td>{{note}}</td><td>{{status}}</td><td>{{inout}}</td><td>{{onco}}</td>
                </tr>
                {%endfor%}
	</tbody>
        </table>
	{% endif %}
	</div>

{% endblock content %}
