{% extends "reports/base_jquery.html" %}
{% block content %}
{% load url from future %}
<div class = 'page_title'>
Results for parking report:
</div>


Mail text: 
<br />
{{mail_text}}

<br />

<div class="result">
		{% if qres %}
		<table id="table_results" class="tablesorter">
			
			{% for line in qres %}
				{% if forloop.first %}
				<thead>
				<tr>
					{% for val in line %}
					<th>{{val}}</th>
					{% endfor %}
				</tr>
				</thead>
				{% elif forloop.counter == 2 %}
				<tbody>
				<tr>
					{% for val in line %}
					<td>{{val}}</td>
					{% endfor %}
				</tr>
				{% else %}
				<tr>
					{% for val in line %}
					<td>{{val}}</td>
					{% endfor %}
				</tr>
				{%endif%}
			{% endfor %}
			</tbody> 
		</table>
		
		{%else%}
			<div class='emptyreport'>
				No data returned by this report!
			</div>
			<br />
		{%endif%}
		<a href="{% url 'reports:index'%}">< Back to report list</a>
 </div>	
 


{% endblock %}
