{% extends "reports/base_jquery.html" %}
{% block content %}
{% load url from future %}
<div class = 'page_title'>

</div>

<div class="result">
		Executed reports: {{list_report}}
		<a href="{% url 'reports:index'%}">< Back to report list</a>
 </div>	
 
{% endblock %}
